[submodule "toolchains"]
	path = toolchains
	url = https://code.google.com/p/obscuremicros.toolchains/
[submodule "thirdparty"]
	path = thirdparty
	url = https://code.google.com/p/obscuremicros.thirdparty/
