[submodule "toolchains"]
	path = toolchains
	url = https://github.com/danielgpalmer/obscuremicros.toolchains.git
[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/danielgpalmer/obscuremicros.thirdparty.git
[submodule "docs"]
	path = docs
	url = https://github.com/danielgpalmer/musasim.docs.git
